.footer_text_first {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #9F9F9F;
}

.footer_text_second {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #9F9F9F;
}

.footer_text_third {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
}

.footer_form_input_email {
  border: none;
  border-bottom: 1px solid #000000;
  padding-right: 10px;
}

.footer_form_button_subscribe {
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  color: #000000;
  border: none;
  background-color: transparent;
  margin-left: 11px;
  border-bottom: 1px solid #000000;
}
@media screen and (max-width:330px) {
  .footer_form_button_subscribe {
    margin-left: 0 !important;
  }
}
@media screen and (max-width:768px) {
  .footer_form {
    padding-bottom: 40px !important;
  }
}