@import '../abstracts/variables';
.btn-close:focus,
.navbar-toggler:focus {
  outline: none;
  box-shadow: none;
  border: none;
}
header {
  background:#FBEBB5 !important;
  padding: 1rem 0;
  transition: $control-transition-time;
  & #offcanvasNavbar {
    background-color: #FBEBB5 !important;

    @media screen and(max-width:990.999px) {
      .offcanvas-header {
        display: flex;
        justify-content: space-between;
        width: 100%;
      }
    }

    @media screen and(max-width:610px) {
      ul {
        display: flex;
        flex-direction: column;
      }
    }
  }

  .nav {
    &__link {
      transition: $control-transition-time;
    padding: 15px 25px;

      &:hover {
        color: white !important;
      }
    }

    @media screen and(max-width:990.999px) {
      &__link {
        font-size: 21px;
      }
    }
  }

  & .active {    
    background: #fce18b !important;
    color: whitesmoke !important;
  }
  & .image:hover{
    transition: $control-transition-time;
    filter: invert(86%) sepia(37%) saturate(3987%) hue-rotate(353deg) brightness(93%) contrast(93%);
}
}



.navbar-shrink {
  box-shadow: 0 0 5px #ffc400;
  padding: 5px !important;
}


