@import '../abstracts/variables';
header {
  background:#FBEBB5 !important;
  padding: 1rem 0;
  transition: $control-transition-time;
  & #offcanvasNavbar {
    background-color: #FBEBB5 !important;

    @media screen and(max-width:990.999px) {
      .offcanvas-header {
        display: flex;
        justify-content: space-between;
        width: 100%;
      }
    }

    @media screen and(max-width:610px) {
      ul {
        display: flex;
        flex-direction: column;
      }
    }
  }

  .nav {
    &__link {
      font-size: 17px;
      // transition: $control-transition-time;
      &:hover {
        text-decoration: underline !important;
        color: white !important;
      }
    }

    @media screen and(max-width:990.999px) {
      &__link {
        font-size: 21px;
      }
    }
  }

  & .active {
    color: white !important;
    background: transparent !important;
    text-decoration: underline !important;
  }

  & .btn {
    &__call {
      background: #086e8d !important;
      border: none;
      border-radius: 25px;
      transition: $control-transition-time;

      &:hover {
        background-color: transparent !important;
        border: 1px solid #086e8d;
      }
    }
  }
}

.navbar-shrink {
  box-shadow: 0 0 5px #ffc400;
  padding: 5px !important;
}
