@import "../abstracts/variables";
@import "../components/buttons";
@import "../components/carousel";
@import "../components/preloader";

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}

.container-sm {
    max-width: 1200px !important;

    @media screen and(min-width:500px) {
        padding: 0 25px;
    }
}

a {
    text-decoration: none !important;
}
