.checkout_hero{
    background-image: url("../images/background-hero.png");
    height: 316px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    .checkout_hero__link{
        .link_1{
            font-weight: 500;
            line-height: 24px;
            color: #000000;
        }
        .link_2{
            font-weight: 300;
            // font-size: 16px;
            line-height: 24px;
            color: #000000;
        }
        img{
            margin: 0px 10px;
        }
    }
}
.checkoout-second{
    padding: 63px 0px 53px;
}
.chkt{
    padding: 35px 0px 76px;
    h2{
        font-weight: 600;
        font-size: 36px;
        line-height: 54px;
        margin-bottom: 31px;
    }
    .chkt__form{
        gap: 31px;
    }
    .chkt__name{
      font-weight: 500;
      font-size: 16px;
      line-height: 24px;
      color: #000000;
      padding-bottom: 20px;
    }
    .chkt__input{
        width: 211px;
        height: 75px;
        background: #FFFFFF;
        border: 1px solid #9F9F9F;
        border-radius: 10px; 
        padding: 10px;
        color: #9F9F9F;
    }
    .chkt--input{
       width: 453px;
    }
}
.chkt1{
    padding: 86px 36px;
    .sofa{
        color: #9F9F9F;
    }
    .sum{
        color: #B88E2F;
        font-weight: 700;
        font-size: 24px;
        line-height: 36px;
    }
}
.btn{
    width: 318px;
    height: 64px;
    
}
.form-grey{
    color: #9F9F9F;
}
@media screen and (max-width:576px){
    .chkt{

        .chkt--input{
            width: 300px;
        }
    }
}

